.ContainerDynamicList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  color: rgb(70, 43, 226);
  .containerChildren {
    border: solid;
    height: var(--height);
    max-height: calc(var(--height) + 20px);
  }
}
