.ContainerDynamicList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;

  .containerChildren {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //
    overflow: hidden;
    transition: height 0.8s ease-in-out;
    height: var(--pxHeight);
    // max-height: calc(var(--pxHeight) + 20px);
  }
}
