.rootListMyCompanies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  border: solid var(--global-lines);
  color: var(--global-03);
  border-radius: 0.5rem;
  background-color: var(--global-color-01);
  width: 300px;
}
