.rootListMyCompanies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: solid var(--global-lines);
  color: var(--global-03);
  background-color: var(--global-color-01);
  width: 300px;
}
