.containerInfoAboutCompany {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .infoAboutCompany {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .boxLogoCompany {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: solid 1px;
      min-width: 3rem;
      min-height: 3rem;
      max-width: 3rem;
      max-height: 3rem;
      border-radius: 50%;
      cursor: pointer;

      img {
        min-width: 3rem;
        min-height: 3rem;
        max-width: 3rem;
        max-height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        //* No Draggable photo
        // user-drag: none; // scss(unknownProperties)
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }

    .boxDeleteIconCompany {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0.3rem;
      border-radius: 50%;
      border: solid 1px transparent;

      &:hover {
        border-color: var(--color-error);
        background-color: var(--opacified-error);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }

  // .modalConfirmDeleteCompany {
  //   .containerModal {
  //     min-width: 300px;
  //     width: 90vw;
  //     max-width: 700px;
  //   }
  // }
}
