.rootRouter {
  display: flex;
  flex-direction: row;

  height: 100dvh;
  width: 100%;
  position: relative;
  flex-grow: 1;

  overflow: scroll;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
  z-index: 0;
  container-type: inline-size;

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }

  @media screen and (max-width: 724px) {
    flex-direction: column;
  }
}
