.rootResetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .errMsg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: red;
      }
    }
  }
}
