.rootCardCompanyList {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  max-width: 900px;
  .containerCardUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    min-width: 500px;
    & > * {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      width: 100%;
      height: 100%;

      .boxTextCardCompany {
        strong {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          color: var(--global-03);
        }

        h4,
        span {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          gap: 0.5rem;
          width: 100%;
          height: 100%;
        }
      }
    }

    .boxRight {
      flex-direction: row;

      .boxImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        object-fit: contain;
        height: 100%;
        width: fit-content;

        max-height: 100px;
        max-width: 120px;
        min-height: 100px;
        min-width: 120px;

        border: solid 1px;
        overflow: hidden;
        border-radius: 0.25rem;
        img {
          width: 100%;
          height: 100%;
          max-height: 90px;
          max-width: 110px;
        }
      }

      .redirectionText {
        flex-grow: 0;
        height: fit-content;
        text-wrap: nowrap;
        width: auto;
        border-width: 1px;
        text-decoration-line: underline;
        background-color: rgba(198, 226, 252, 0.2);
        padding: 0.2rem 0.5rem;
        border-radius: 2px;
        transition: background-color 0.5s ease-in-out;
        align-self: flex-end;

        /* x-offset | y-offset | blur radius | color */
        text-shadow:
          0 0 2px rgba(255, 255, 255, 0.5),
          0 0 5px rgba(255, 255, 255, 0.4),
          0 0 8px rgba(255, 255, 255, 0.3);

        // text-decoration: underline wavy red;

        &:hover {
          cursor: pointer;
          background-color: rgba(198, 226, 252, 0.4);
        }
      }
    }
  }

  .containerCardDown {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    .hashtag {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: var(--color-evidenced);
      word-break: break-all;
      width: fit-content;
    }
  }
}
